.container-fluid {
    background-image: url("/themes/nature_01.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 100px 0px 100px;
  }  
    
  header,
  footer{
    padding: 0px !important;
  }

  .main-menu{
    background-color: #e5e5e5b3;   
    margin: 20px 150px 50px 150px;
    padding: 100px 150px 100px 150px;
    text-align: center;
  }

  .main-menu .app-logo{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    max-width: 150px;
  }

  .main-menu .shortcut{    
    background-color: #ebebeb80 !important;
    border-color: #fff0 !important;
    color: #684986 !important;
    margin: 12px;
  }

  .main-menu .shortcut:hover{    
    border-color: #0000004d !important;    
  }

  .main-menu .shortcut [class*="mif-"]{    
    line-height: 60px;
  }

  .main-menu .caption {
    line-height: 5px;
  }

  .dashboard{
    padding: 30px 0px 50px 0px;
  }

  #dash-nav {
    background-color: #fff0 !important;    
  }
  
  #dash-nav .navview-pane {
    background-color: #e5e5e5b3 !important;
  }
  
  #dash-nav .content {
    background-color: #fff9 !important;
    min-height: 500px !important;
    margin-left: 10px;
    width: 100%;
    height: 100%;
    position: relative;
  }
 
  .iconbar-top,
  .iconbar-bot {
    background-color: transparent !important;    
    box-shadow: none;
    color: white;
    margin: 10px 0px 10px 0px;
  }
  
  .iconbar-top li a,
  .iconbar-bot li a {
    border: none !important;
    width: auto !important;
    height: auto !important;
    line-height: auto !important;
    padding: 0.2rem 0.7rem !important;
    position: relative !important;
  }
  
  .iconbar-top li a .tag,
  .iconbar-bot li a .tag {
    font-size: 0.6875rem !important;
    top: -13px !important;
    right: 10px !important;
  }

  .iconbar-top li a .caption,
  .iconbar-bot li a .caption {
    position: relative;
    font-size: 10px;
    line-height: 4px;
    width: 50px;
    text-align: center;
  }
  
  .iconbar-top li a [class*="mif-"],
  .iconbar-bot li a [class*="mif-"] {
    line-height: 2;
  }