.scheduler_green_main 
{
    border: 1px solid rgba(000,000,000,0.1);
    font-size: 10px;
		background-color: rgba(255,255,255,0.7);		
}

.scheduler_green_event{
	height: auto !important;
}

.scheduler_green_event_inner  
{
	margin-right: 1px;
	font-size: 12px;
	color: #ffffff;
	padding: 6px;
	height: auto !important;
	
	color: #ffffff;
	background: #a2c200;
	
	border-radius: 2px;
	border: 1px solid #7cb316;	
}

.scheduler_green_event_bar
{
	top: 2px;
	left: 4px;
	right: 4px;
	height: 2px;
	background-color: #C0D46A;
	background-color: #C7D48D;
}

.scheduler_green_event_bar_inner  
{
	position: absolute;
	height: 2px;
	background-color: rgb(53, 110, 216);
}

.scheduler_green_event_hover .scheduler_green_event_inner 
{
	background: #bee74d;	
}

.scheduler_green_red .scheduler_green_event_inner 
{
	border: 1px solid #c00004;
	background: #ab0000;
	background: -moz-linear-gradient(
		top,
		#ff2819 0%,
		#ab0000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff2819),
		to(#ab0000));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ff2819", endColorStr="#ab0000");
}

.scheduler_green_message 
{
	padding: 10px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	
	color: #ffffff;
	background: #000;
	background: -moz-linear-gradient(
		top,
		#999 0%,
		#666);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#999),
		to(#666));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#999999", endColorStr="#666666");
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

.scheduler_green_header_icon{
	color: black;
	background-color: red;
	position: relative;
	width: 15px !important;
	height: 26px !important;
}

.scheduler_green_header_icon::before{
	content: "»";
	position: absolute;
	font-size: 20px;
	top: 0px;
	left: 2px;
}

.scheduler_green_header_icon_hide{
	color: black;
	background-color: red;
	position: relative;
	width: 15px !important;
	height: 26px !important;
}

.scheduler_green_header_icon_hide::before{
	content: "«";
	position: absolute;
	font-size: 20px;
	top: 0px;
	left: 2px;
}

.scheduler_green_timeheader 
{
	cursor: default;
	color: #666;
	text-align: center;		
}

.scheduler_green_timeheader_float_inner{
	color: black;
	text-align: center;	
	padding-top: 5px;
	padding-left: 5px;		
}

.scheduler_green_timeheadergroup{
	
}

.scheduler_green_timeheadergroup_inner
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	text-align: center;
	padding: 5px;
	
	border-right: 1px solid rgba(000,000,000,0.1);

	color: #ffffff;
	background-color: rgba(255,255,255,0.1);
	/* text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3); */
}

.scheduler_green_timeheadercol_inner
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	text-align: center;
	border-right: 1px solid rgba(000,000,000,0.1);
	border-top: 1px solid rgba(000,000,000,0.1);
	padding: 5px;

	color: black;
	background-color: rgba(255,255,255,0.1);	
}

.scheduler_green_rowheader 
{
	color: black;
	background-color: rgba(255,255,255,0.1);	
}

.scheduler_green_rowheader_inner{
	padding: 15px 0px;	
	height: 100%;
	vertical-align: middle;
}

.scheduler_green_corner
{
	color: black;
	background-color: rgba(255,255,255,0.1);
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);

}

.scheduler_green_resourceheader td
{
	border-bottom: 1px solid black;
	padding: 0px;
}

.scheduler_green_tree_image_no_children {
	/* background-image: url('scheduler_green/tree_nochildren.png'); */
}
.scheduler_green_tree_image_expand {
	/* background-image: url('scheduler_green/tree_expand.png'); */
}
.scheduler_green_tree_image_collapse {
	/* background-image: url('scheduler_green/tree_collapse.png'); */
}

.scheduler_green_divider 
{
	background-color:rgba(172, 255, 47, 0.5);
}

.scheduler_green_divider_horizontal
{
	background-color: rgba(0, 0, 0, 0.05);
}

.scheduler_green_matrix_vertical_line 
{
	background-color: rgba(0, 0, 0, 0.05);
}

.scheduler_green_matrix_vertical_break 
{
	background-color: red;
}
.scheduler_green_matrix_horizontal_line 
{
	background-color: rgba(0, 0, 0, 0.05);
}

.scheduler_green_resourcedivider 
{
	background-color: rgba(204, 204, 204, 0.363);
}

.scheduler_green_shadow_inner 
{
	background-color: #666666;
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.scheduler_green_cell
{
	
}

.scheduler_green_cellweekend 
{
	background-color: red;
}

.scheduler_green_crosshair_top,
.scheduler_green_crosshair_left{
	background-color: rgba(0, 0, 0, 0.05);
	transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* Custom Classes */

.header_weekDay_weekRange{
	font-size: 15px;
	font-weight: bold;
	color: black;
}

.header_weekDay_weekNumber{
	font-size: 8px;
	color: rgb(78, 241, 37);;
}

.header_weekDay_dayNumber{
	font-size: 12px;
	font-weight: bold;
}

.header_weekDay_dayTxt{
	font-size: 10px;
}

.res_user_name{	
	width: 100%;
	line-height: 2;
	font-size: 8px;
	text-align: center;		
	display: inline-block;	
}

.res_user_avatar{
	width: 50px;
	height: 50px;
	margin: auto;
	border-radius: 3px;
	display: block;	
}

.res_job_name,
.res_job_code{
	width: 100%;
	
	text-align: center;
	display: inline-block;;
}

.res_job_name{
	padding: 0px 5px;
	font-size: 12px;
}

.res_job_code{
	padding: 5px 5px;
	font-size: 10px;
}