$default-background: "";
$default-primary-color: #fffffff5;
$default-secondary-color: #4d4d4d;

$default-primary-bgColor: rgba(255, 255, 255, 0.9);
$default-secondary-bgColor: rgba(255, 255, 255, 0.9);

$default-primary-fontColor: #000000;
$default-secondary-fontColor: white;

$default-btn-bg--idle: rgba(255, 255, 255, 0.8);
$default-btn-bg--active: #d76165;

// $default-bg-primary: red;
// $default-bg-secondary: red;

// $default-primary: red;
// $default-secondary: red;
// $default-success: red;
// $default-danger: red;
// $default-warning: red;
// $default-info: red;
// $default-light: red;

// $default-tetx-primary: red;
// $default-tetx-secondary: red;
// $default-tetx-success: red;
// $default-tetx-danger: red;
// $default-tetx-warning: red;
// $default-tetx-info: red;
// $default-tetx-light: red;

$default-scheduler-bg-primary: #007bff;
$default-scheduler-bg-secondary: #6c757d;

$default-scheduler-primary: #007bff;
$default-scheduler-secondary: #6c757d;
$default-scheduler-danger: #dc3545;
$default-scheduler-warning: #ffc107;
$default-scheduler-info: #17a2b8;
$default-scheduler-light: #343a40;

#app.default {
  background-image: url("~/img/theme/Default.jpg");
  font-family: $app-primary-font;
  color: $default-primary-fontColor;

  // Drawer
  .main .wrap-drawer {
    .wrap-content .navbar,
    .wrap-content .content,
    .drawer .drawer-toolbar {
      background-color: $default-primary-bgColor;
    }

    .drawer .drawer-body {
      background-color: $default-secondary-bgColor;
    }

    .wrap-content .loading-box {
      color: $default-primary-fontColor;
      background-color: $default-secondary-bgColor;
    }

    // main -> toolbar
    .wrap-content .navbar {
      .btn {
        background-color: $default-btn-bg--idle;
      }

      .btn-group .btn.active {
        color: $default-secondary-fontColor;
        background-color: $default-btn-bg--active;
      }

      .btn:focus {
        box-shadow: none;
      }

      .btn:hover,
      .btn:active,
      .btn.active {
        color: $default-secondary-fontColor;
        background-color: $default-btn-bg--active;
      }
    }
  }

  // Toolbar Top & Bot
  .toolbar-top,
  .toolbar-bot {
    .btn {
      color: $default-primary-fontColor;
      background-color: $default-primary-bgColor;
    }

    .btn:hover,
    .btn.active {
      color: $default-secondary-fontColor;
      background-color: $default-btn-bg--active;
    }
  }

  // Drawer Vertical Menue
  .v-menu {
    .menu-title {
      background-color: $default-primary-bgColor;
    }

    li a,
    li .btn {
      color: $default-primary-fontColor;
    }

    li a:hover,
    li .btn:hover {
      color: $default-secondary-fontColor;
      background-color: $default-btn-bg--active;
    }
  }

  .dropdown-menu {
    background-color: $default-primary-color;

    .dropdown-item:hover,
    .dropdown-item:active,
    .dropdown-item.active {
      color: $default-secondary-fontColor;
      background-color: $default-btn-bg--active;
    }
  }

  // .table-hover tr:hover {
  //   color: $default-secondary-fontColor;
  //   background-color: $default-btn-bg--active;
  // }

  .btn.disabled {
    color: #a1a1a1 !important;
  }

  .btn-outline-primary,
  .btn-outline-secondary {
    color: $default-primary-fontColor;
    border-color: $default-secondary-color;
  }

  .btn-outline-primary:hover,
  .btn-outline-secondary:hover {
    color: $default-secondary-fontColor;
    border-color: $default-btn-bg--active;
    background-color: $default-btn-bg--active;
  }

  // Daypilot settings
  .scheduler_green_main {
    font-family: $app-secondary-font !important;
  }

  .scheduled .scheduler_green_event_inner {
    border: 0px;
    color: #ffffff;
    background: $default-scheduler-primary;
  }

  .tentative .scheduled.scheduler_green_event_inner {
    background: repeating-linear-gradient(
      45deg,
      blue,
      blue 5px,
      $default-scheduler-primary 5px,
      $default-scheduler-primary 12px
    ) !important;
  }

  .leave .scheduler_green_event_inner {
    border: 0px;
    color: #ffffff;
    background: $default-scheduler-danger;
  }

  .unavailable .scheduler_green_event_inner {
    border: 0px;
    color: #333333;
    background: $default-scheduler-warning;
  }
}
