// ----- COLORS -------
// $night-1st: #474b4f;
// $night-2nd: #86c232; 
// $night-3rd: #222629;

// $night-1st-tp: rgba(71, 75, 79, 0.9);
// $night-2nd-tp: rgba(134, 194, 50, 0.9);
// $night-3rd-tp: rgba(34, 38, 41, 0.9);

// $night-text-1st: whitesmoke;
// $night-text-2nd: black;
// $night-text-danger: orange;

$night-1st: white;
$night-2nd: #d76165;
$night-3rd: whitesmoke;

$night-1st-tp: rgba(255, 255, 255, 0.9);
$night-2nd-tp: rgba(215, 97, 101, 0.9);
$night-3rd-tp: rgba(255, 255, 255, 0.9);

$night-text-1st: black;
$night-text-2nd: whitesmoke;
$night-text-danger: red;

$night-schedule-confirm: #86c232;
$night-schedule-tentative: #222629; 
$night-schedule-leave: red;
$night-schedule-unavi: orange;
$night-schedule-shadow: rgba(0, 0, 0, 0.1);
$night-schedule-matrix: rgba(0, 0, 0, 0.1);

#app.night {
  text-emphasis: none;
  color: $night-text-1st;
  font-family: $app-primary-font;
  background-image: url("~/img/theme/night.jpg");

  // ------ DASHBOARD ----
  .dashboard {    
    background-color: $night-1st-tp;
          
    .btn {
      //
    }
  
    .icon,
    .caption {
      color: #a726a5;
    }
  
    .btn:hover {      
      background-color: rgba($color: #000000, $alpha: 0.1) !important;
    }  
  }

  // ------ Toolbars -----
  .toolbar-top,
  .toolbar-bot {
    .btn {
      color: $night-text-1st;
      background-color: $night-3rd-tp;
    }

    .btn:hover,
    .btn.active {
      color: $night-text-2nd;
      background-color: $night-2nd-tp;
    }
  }

  // ------- DRAWER ---------------
  #drawer {
    .drawer__content,    
    .drawer__toolbar {      
      background-color: $night-1st-tp;
    }

    @media (min-width: 0px) {
      .drawer__drawer{
        background-color: whitesmoke;
      }
    }
  
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {    
      .drawer__drawer{
        background-color: $night-1st-tp;
      }
    }

    // toolbar
    .drawer__toolbar {
      .btn {
        color: $night-text-1st;
        background-color: $night-3rd;
      }    

      .btn:focus {
        box-shadow: none;
      }

      .btn:hover,
      .btn:active,
      .btn.active,
      .btn-group .btn.active {
        color: $night-text-2nd;
        background-color: $night-2nd;
      }
    }
  }

  // ------ V-menu -----------
  .v-menu {
    color: $night-text-1st;

    .menu-title {
      color: $night-text-1st;
      background-color: $night-1st-tp;
    }

    li a,
    li .btn {
      color: $night-text-1st;
    }

    li a:hover,
    li .btn:hover {
      color: $night-text-2nd;
      background-color: $night-2nd;
    }
  }

  // ------ LOADING SCREEN --------
  .loading-box {
    color: $night-text-2nd;
    background-color: $night-2nd;
  }

  //------- MODAL --------------
  .modal-content {
    background-color: $night-1st;
  }

  // ------ DROPDOWN -----------
  .dropdown-menu {
    background-color: $night-1st;

    .dropdown-item {
      color: $night-text-1st;
    }

    .dropdown-item:hover,
    .dropdown-item:active,
    .dropdown-item.active {
      color: $night-text-2nd;
      background-color: $night-2nd;
    }
  }

  // ------ TABLE -----------------
  .table {
    color: $night-text-1st;

    th, td{
      border-top: 0px;
    }

    tr,
    tr a,
    tr .btn{
      transition: none;
      color: $night-text-1st;
    }

    tbody tr:hover,
    tbody tr:hover a,
    tbody tr:hover button i { 
      color: $night-text-2nd;     
      background-color: $night-2nd;
      transition: none;
    }
  }

  //------- FORM ------------------
  .field-required,
  .invalid-feedback {
    color: $night-text-danger;
  }

  // ----- BUTTONS ---------------- 
  .close {
    color: $night-text-1st;
  }

  .close:hover {
    color: $night-2nd;
    text-shadow: none;
  }

  // ----- WIZARD ------------------
  .wrap-wizard{
    background-color: $night-1st-tp;
  }

  // ----- SCHEDULER ---------------
  .scheduler_green_main {
    font-family: $app-secondary-font !important;
    background-color: transparent;
  }
  
  .scheduler_green_rowheader,
  .scheduler_green_timeheadercol_inner,
  .scheduler_green_timeheadergroup_inner{
    color: $night-text-1st;
  }  

  .scheduler_green_corner,
  .scheduler_green_rowheader,
  .scheduler_green_timeheadercol,
  .scheduler_green_timeheadergroup{
    background-color: transparent;
  }

  .scheduler_green_crosshair_top,
  .scheduler_green_crosshair_left,
  .scheduler_green_shadow_inner {    
    background-color: $night-schedule-shadow; 
  }

  .scheduler_green_divider,
  .scheduler_green_resourcedivider,  
  .scheduler_green_divider_horizontal,  
  .scheduler_green_matrix_vertical_line,
  .scheduler_green_matrix_horizontal_line {
    background-color: $night-schedule-matrix;    
  } 

  .scheduler_green_timeheadergroup_inner{
    border-right: 1px solid $night-schedule-matrix; 
  }

  .scheduler_green_timeheadercol_inner{
    border-right: 1px solid $night-schedule-matrix; 
    border-top: 1px solid $night-schedule-matrix; 
  }

  .scheduler_green_event_bar {
    background-color: white;
  }

  .scheduler_green_event_bar_inner {
    background-color: #ee0a0a;
  }

  .scheduled {
    .scheduler_green_event_inner {
      border: 0px;
      color: #ffffff;
      background: $night-schedule-confirm;
    }    
  }

  .scheduled.tentative .scheduler_green_event_inner {
    background: repeating-linear-gradient(
      45deg, 
      $night-schedule-confirm, 
      $night-schedule-confirm 10px, 
      $night-schedule-tentative 10px, 
      $night-schedule-tentative 12px) !important;
  }

  .leave {
    .scheduler_green_event_inner {
      border: 0px;
      color: #ffffff;
      background: $night-schedule-leave
    }   
  }

  .leave.tentative .scheduler_green_event_inner {
    background: repeating-linear-gradient(
      45deg, 
      $night-schedule-leave, 
      $night-schedule-leave 10px, 
      $night-schedule-tentative 10px, 
      $night-schedule-tentative 12px) !important;
  }

  .unavailable {
    .scheduler_green_event_inner {
      border: 0px;
      color: $night-text-1st;
      background: $night-schedule-unavi;
    }
  }
  
  .draggable {
    color: $night-text-1st;    
    background-color: $night-1st;
  }

  .draggable:hover {
    color: $night-text-2nd; 
    background-color: $night-2nd;
  }
}
